html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  font-family: "Roboto" , sans-serif;
  line-height: 1.5;
  letter-spacing: 2px;
  color: white;
}
