.table {
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  color: black;
}
.table__header {
  color: black;
  background-color: lightblue;
  font-size: larger;
  font-style: italic;
}

.table__cell {
  border: 3px solid black;
  padding: 15px;
  text-align: center;
}

.table__row:nth-child(even) {
  background-color: whitesmoke;
}
.table__row:hover {
  background-color: antiquewhite;
}

.table__container {
  overflow-x: auto;
}

.table__caption {
  color: white;
  padding: 10px;
  caption-side: bottom;
  text-align: center;
}
